USE [PachadataTraining]
GO
/****** Object:  Table [Contact].[Address]    Script Date: 02/09/2025 16:36:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Contact].[Address](
	[AddressId] [int] IDENTITY(1,1) NOT NULL,
	[CityId] [int] NULL,
	[Address1] [varchar](50) NOT NULL,
	[Address2] [varchar](50) NULL,
	[Valid] [bit] NOT NULL,
 CONSTRAINT [pk_Adresse] PRIMARY KEY CLUSTERED 
(
	[AddressId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Contact].[AddressType]    Script Date: 02/09/2025 16:36:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Contact].[AddressType](
	[TypeAdresseId] [tinyint] NOT NULL,
	[Libelle] [varchar](20) NOT NULL,
 CONSTRAINT [pk_TypeAdresse] PRIMARY KEY NONCLUSTERED 
(
	[TypeAdresseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_TypeAdresse_Libelle] UNIQUE NONCLUSTERED 
(
	[Libelle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Contact].[Company]    Script Date: 02/09/2025 16:36:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Contact].[Company](
	[CompanyId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](60) NOT NULL,
	[VATNumber] [varchar](30) NULL,
	[TypeRelance] [smallint] NOT NULL,
	[FacturationAvantInscription] [bit] NOT NULL,
	[Telephone2] [varchar](30) NULL,
	[Telephone1] [varchar](30) NULL,
	[Remise] [tinyint] NOT NULL,
 CONSTRAINT [pk_Societe] PRIMARY KEY CLUSTERED 
(
	[CompanyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_Societe_Nom] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Contact].[CompanyAddress]    Script Date: 02/09/2025 16:36:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Contact].[CompanyAddress](
	[CompanyId] [int] NOT NULL,
	[AdressId] [int] NOT NULL,
	[TypeAdresse] [char](1) NOT NULL,
 CONSTRAINT [pk_SocieteAdresse] PRIMARY KEY CLUSTERED 
(
	[CompanyId] ASC,
	[AdressId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Contact].[Contact]    Script Date: 02/09/2025 16:36:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Contact].[Contact](
	[ContactId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](3) NULL,
	[LastName] [varchar](50) NOT NULL,
	[FirstName] [varchar](50) NULL,
	[Email] [varchar](150) NULL,
	[Phone] [varchar](15) NULL,
	[Fax] [varchar](15) NULL,
	[Gender] [varchar](1) NULL,
	[Mobile] [varchar](15) NULL,
	[AddressId] [int] NOT NULL,
	[CompanyId] [int] NULL,
	[OldLastName] [varchar](50) NULL,
 CONSTRAINT [pk_Contact] PRIMARY KEY CLUSTERED 
(
	[ContactId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Contact].[ContactToImport]    Script Date: 02/09/2025 16:36:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Contact].[ContactToImport](
	[FirstName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[Address] [varchar](50) NOT NULL,
	[ZipCode] [varchar](20) NOT NULL,
	[City] [varchar](255) NOT NULL,
	[Phone] [varchar](50) NULL,
	[Email] [varchar](100) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [Contact].[Manager]    Script Date: 02/09/2025 16:36:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Contact].[Manager](
	[DecideurId] [int] IDENTITY(1,1) NOT NULL,
	[ContactId] [int] NULL,
	[DateAnnulation] [date] NULL,
	[EnvoisParEmail] [int] NOT NULL,
	[EnvoisParCourrier] [int] NOT NULL,
 CONSTRAINT [pk_Decideur] PRIMARY KEY CLUSTERED 
(
	[DecideurId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Contact].[Title]    Script Date: 02/09/2025 16:36:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Contact].[Title](
	[TitleCd] [char](8) NOT NULL,
	[Libelle] [varchar](32) NOT NULL,
 CONSTRAINT [pk_Titre] PRIMARY KEY NONCLUSTERED 
(
	[TitleCd] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_Titre_Libelle] UNIQUE NONCLUSTERED 
(
	[Libelle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Course].[Course]    Script Date: 02/09/2025 16:36:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Course].[Course](
	[CourseId] [int] IDENTITY(1,1) NOT NULL,
	[Category] [char](2) NOT NULL,
	[Domain] [char](2) NOT NULL,
	[CreationDate] [smalldatetime] NOT NULL,
	[AnnulationDate] [date] NULL,
	[Comments] [varchar](2000) NULL,
	[Duration] [tinyint] NOT NULL,
	[MaxNbParticipants] [tinyint] NOT NULL,
 CONSTRAINT [pk_Stage] PRIMARY KEY CLUSTERED 
(
	[CourseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Course].[CourseLanguage]    Script Date: 02/09/2025 16:36:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Course].[CourseLanguage](
	[StageId] [int] NOT NULL,
	[LangueCd] [char](2) NOT NULL,
	[Titre] [varchar](200) NOT NULL,
	[SousTitre] [varchar](200) NULL,
	[PhraseSynthese] [varchar](500) NULL,
	[PreRequis] [varchar](1000) NULL,
	[ProfilParticipants] [varchar](500) NULL,
	[Objectifs] [varchar](1000) NULL,
 CONSTRAINT [pk_StageLangue] PRIMARY KEY CLUSTERED 
(
	[StageId] ASC,
	[LangueCd] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Course].[Language]    Script Date: 02/09/2025 16:36:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Course].[Language](
	[LangueCd] [char](2) NOT NULL,
	[NomLocal] [varchar](50) NOT NULL,
	[NomFrancais] [varchar](50) NOT NULL,
 CONSTRAINT [pk_Langue] PRIMARY KEY CLUSTERED 
(
	[LangueCd] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_Langue_NomFrancais] UNIQUE NONCLUSTERED 
(
	[NomFrancais] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_Langue_NomLocal] UNIQUE NONCLUSTERED 
(
	[NomLocal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Course].[Session]    Script Date: 02/09/2025 16:36:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Course].[Session](
	[SessionId] [int] IDENTITY(1,1) NOT NULL,
	[CourseId] [int] NOT NULL,
	[LanguageCd] [char](2) NOT NULL,
	[RoomId] [int] NULL,
	[StartDate] [date] NOT NULL,
	[Price] [decimal](8, 2) NULL,
	[Note] [tinyint] NULL,
	[Status] [char](10) NULL,
	[CreationDate] [date] NOT NULL,
	[Duration] [tinyint] NULL,
	[IntraEntrerprise] [bit] NOT NULL,
	[Comments] [varchar](1500) NULL,
	[TrainerId] [int] NULL,
 CONSTRAINT [pk_SessionStage] PRIMARY KEY CLUSTERED 
(
	[SessionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_SessionStage_CodeDateLieu] UNIQUE NONCLUSTERED 
(
	[StartDate] ASC,
	[RoomId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Enrollment].[AdressOnEnrollment]    Script Date: 02/09/2025 16:36:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Enrollment].[AdressOnEnrollment](
	[InscriptionId] [int] NOT NULL,
	[AdresseId] [int] NOT NULL,
	[Invoicing] [bit] NOT NULL,
	[Convention] [bit] NOT NULL,
	[ConventionLetter] [bit] NOT NULL,
	[Certificate] [bit] NOT NULL,
	[Copy] [bit] NOT NULL,
 CONSTRAINT [pk_AdresseSurInscription] PRIMARY KEY CLUSTERED 
(
	[InscriptionId] ASC,
	[AdresseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Enrollment].[Appraisal]    Script Date: 02/09/2025 16:36:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Enrollment].[Appraisal](
	[EvaluationId] [int] IDENTITY(1,1) NOT NULL,
	[ContactId] [int] NULL,
	[TauxSatisfaction] [int] NOT NULL,
	[Interet] [int] NULL,
	[TempsAccorde] [int] NULL,
	[Exercices] [int] NULL,
	[Support] [int] NULL,
	[Animation] [int] NULL,
	[Equilibre] [int] NULL,
	[Observations] [varchar](2048) NULL,
	[Ajouter] [varchar](2048) NULL,
	[Supprimer] [varchar](2048) NULL,
	[Attentes] [int] NULL,
	[Organisation] [int] NULL,
	[Accueil] [int] NULL,
	[Confort] [int] NULL,
	[ConnaissancePacha] [int] NULL,
	[Nouveautes] [int] NULL,
	[Recommandation] [int] NULL,
	[Jour1Interet] [int] NULL,
	[Jour2Interet] [int] NULL,
	[Jour3Interet] [int] NULL,
	[Jour4Interet] [int] NULL,
	[Jour5Interet] [int] NULL,
	[Jour1Pedagogie] [int] NULL,
	[Jour2Pedagogie] [int] NULL,
	[Jour3Pedagogie] [int] NULL,
	[Jour4Pedagogie] [int] NULL,
	[Jour5Pedagogie] [int] NULL,
	[Formation] [varchar](512) NULL,
	[DateEvaluation] [datetime] NOT NULL,
	[TypeSaisie] [bit] NULL,
	[Annulee] [bit] NULL,
	[Moyenne] [decimal](4, 2) NULL,
	[MiseAJour] [bit] NOT NULL,
	[DateMiseAJour] [datetime] NULL,
 CONSTRAINT [pk_Evaluations] PRIMARY KEY CLUSTERED 
(
	[EvaluationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Enrollment].[Enrollment]    Script Date: 02/09/2025 16:36:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Enrollment].[Enrollment](
	[InscriptionId] [int] IDENTITY(1,1) NOT NULL,
	[SessionId] [int] NOT NULL,
	[DecideurInscriptionId] [int] NULL,
	[ContactId] [int] NULL,
	[DateAnnulation] [date] NULL,
	[Remise] [tinyint] NOT NULL,
	[Present] [bit] NOT NULL,
	[DateCreation] [smalldatetime] NOT NULL,
	[ReferenceCommande] [varchar](100) NULL,
	[ConventionEnvoyee] [bit] NOT NULL,
	[ConvocationEnvoyee] [bit] NOT NULL,
	[ListeAttente] [bit] NOT NULL,
	[FeuilleEmargement] [varchar](1000) NULL,
 CONSTRAINT [pk_Inscription] PRIMARY KEY CLUSTERED 
(
	[InscriptionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Enrollment].[EnrollmentInvoice]    Script Date: 02/09/2025 16:36:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Enrollment].[EnrollmentInvoice](
	[InscriptionId] [int] NOT NULL,
	[FactureCd] [varchar](50) NOT NULL,
 CONSTRAINT [pk_InscriptionFacture] PRIMARY KEY CLUSTERED 
(
	[InscriptionId] ASC,
	[FactureCd] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Enrollment].[Invoice]    Script Date: 02/09/2025 16:36:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Enrollment].[Invoice](
	[InvoiceId] [varchar](50) NOT NULL,
	[CodeRemise] [char](2) NULL,
	[Remise] [decimal](10, 7) NULL,
	[CreationDate] [smalldatetime] NOT NULL,
	[InvoiceDate] [date] NULL,
	[Relance] [tinyint] NOT NULL,
	[DateRelance] [date] NULL,
	[PART] [decimal](7, 4) NULL,
	[ReferenceCommande] [varchar](100) NULL,
	[MontantHT] [decimal](7, 2) NOT NULL,
	[MontantTTC] [decimal](7, 2) NOT NULL,
	[TauxTVA] [decimal](5, 2) NOT NULL,
 CONSTRAINT [pk_Invoice] PRIMARY KEY CLUSTERED 
(
	[InvoiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Enrollment].[InvoiceFollowUp]    Script Date: 02/09/2025 16:36:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Enrollment].[InvoiceFollowUp](
	[SuiviFactureId] [int] IDENTITY(1,1) NOT NULL,
	[FactureCd] [varchar](50) NULL,
	[DatePaiement] [date] NOT NULL,
	[TypePaiement] [char](1) NOT NULL,
	[NoChequeBanque] [varchar](50) NULL,
	[NoBordereau] [varchar](10) NULL,
	[Montant] [decimal](8, 2) NOT NULL,
 CONSTRAINT [pk_SuiviFacture] PRIMARY KEY CLUSTERED 
(
	[SuiviFactureId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Reference].[City]    Script Date: 02/09/2025 16:36:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Reference].[City](
	[CityId] [int] IDENTITY(1,1) NOT NULL,
	[RegionId] [int] NULL,
	[Name] [varchar](255) NULL,
	[ZipCode] [varchar](10) NULL,
	[CodeINSEE] [float] NULL,
	[CodeRegion] [float] NULL,
	[Latitude] [decimal](6, 2) NULL,
	[Longitude] [varchar](255) NULL,
	[Eloignement] [varchar](255) NULL,
	[PointGeographique] [geography] NULL,
 CONSTRAINT [PK_VILLE] PRIMARY KEY CLUSTERED 
(
	[CityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Reference].[Country]    Script Date: 02/09/2025 16:36:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Reference].[Country](
	[PaysCD] [char](3) NOT NULL,
	[FrenchName] [varchar](50) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Code2] [char](2) NOT NULL,
	[Capital] [varchar](50) NULL,
 CONSTRAINT [pk_Pays] PRIMARY KEY NONCLUSTERED 
(
	[PaysCD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_Pays_Nom] UNIQUE NONCLUSTERED 
(
	[FrenchName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Reference].[PaymentMode]    Script Date: 02/09/2025 16:36:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Reference].[PaymentMode](
	[ModePaiementCd] [char](8) NOT NULL,
	[Libelle] [varchar](64) NOT NULL,
 CONSTRAINT [pk_ModePaiement] PRIMARY KEY NONCLUSTERED 
(
	[ModePaiementCd] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_ModePaiement_Libelle] UNIQUE NONCLUSTERED 
(
	[Libelle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Reference].[Region]    Script Date: 02/09/2025 16:36:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Reference].[Region](
	[RegionId] [int] IDENTITY(1,1) NOT NULL,
	[PaysCD] [char](3) NOT NULL,
	[TypeRegion] [varchar](20) NULL,
	[CodeRegion] [varchar](10) NULL,
	[Nom] [varchar](50) NOT NULL,
	[CodeChefLieu] [char](3) NULL,
	[NomChefLieu] [varchar](50) NULL,
	[XChefLieu] [smallint] NULL,
	[YChefLieu] [smallint] NULL,
	[XCentroide] [smallint] NULL,
	[YCentroide] [smallint] NULL,
	[CodeDepartement] [char](2) NULL,
	[NomDepartement] [varchar](50) NULL,
	[geog_GADM_FRA2] [geography] NULL,
	[geometrie] [geometry] NULL,
	[DepartementVariantes] [xml] NULL,
 CONSTRAINT [pk_Region] PRIMARY KEY NONCLUSTERED 
(
	[RegionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Reference].[TrainingPlace]    Script Date: 02/09/2025 16:36:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Reference].[TrainingPlace](
	[LieuFormationId] [int] IDENTITY(1,1) NOT NULL,
	[Nom] [varchar](30) NULL,
	[Adresse1] [varchar](40) NULL,
	[Adresse2] [varchar](40) NULL,
	[CodePostal] [varchar](7) NULL,
	[Ville] [varchar](20) NULL,
	[Metro] [varchar](30) NULL,
	[Telephone] [varchar](25) NULL,
	[Fax] [varchar](25) NULL,
	[PlanAcces] [varchar](255) NULL,
	[NomContact] [varchar](50) NULL,
	[EmailContact] [varchar](200) NULL,
	[EstCentrePacha] [bit] NOT NULL,
 CONSTRAINT [PK_AdressesFormation] PRIMARY KEY CLUSTERED 
(
	[LieuFormationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Reference].[TrainingRoom]    Script Date: 02/09/2025 16:36:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Reference].[TrainingRoom](
	[SalleFormationId] [int] IDENTITY(1,1) NOT NULL,
	[LieuFormationId] [int] NOT NULL,
	[Places] [tinyint] NOT NULL,
	[Nom] [varchar](20) NULL,
	[Numero] [varchar](3) NULL,
	[Couloir] [char](1) NULL,
	[Direction] [char](1) NULL,
	[Etage] [tinyint] NULL,
 CONSTRAINT [PK_salles] PRIMARY KEY CLUSTERED 
(
	[SalleFormationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Reference].[VAT]    Script Date: 02/09/2025 16:36:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Reference].[VAT](
	[DateDebut] [date] NOT NULL,
	[DateFin] [date] NULL,
	[TAUX1] [decimal](5, 2) NOT NULL,
	[TAUX2] [decimal](5, 2) NULL,
 CONSTRAINT [pk_TauxTVA] PRIMARY KEY CLUSTERED 
(
	[DateDebut] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Tools].[TallyNumber]    Script Date: 02/09/2025 16:36:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Tools].[TallyNumber](
	[nombre] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Trainer].[Rate]    Script Date: 02/09/2025 16:36:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Trainer].[Rate](
	[TarifFormateurId] [int] IDENTITY(1,1) NOT NULL,
	[FormateurId] [int] NOT NULL,
	[DateDebut] [date] NOT NULL,
	[DateFin] [date] NULL,
	[TarifJournalier] [decimal](6, 2) NOT NULL,
 CONSTRAINT [pk$TarifFormateur] PRIMARY KEY CLUSTERED 
(
	[TarifFormateurId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Trainer].[SpecialRate]    Script Date: 02/09/2025 16:36:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Trainer].[SpecialRate](
	[TarifSpecialId] [int] IDENTITY(1,1) NOT NULL,
	[TarifFormateurId] [int] NOT NULL,
	[RegionId] [tinyint] NULL,
	[StageId] [int] NULL,
	[LangueCd] [char](2) NULL,
	[TarifJournalier] [decimal](6, 2) NOT NULL,
 CONSTRAINT [pk$TarifSpecial] PRIMARY KEY CLUSTERED 
(
	[TarifSpecialId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Trainer].[Trainer]    Script Date: 02/09/2025 16:36:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Trainer].[Trainer](
	[TrainerId] [int] IDENTITY(1,1) NOT NULL,
	[NoSecuriteSociale] [varchar](18) NULL,
	[Statut] [char](1) NULL,
	[Commentaires] [varchar](1000) NULL,
	[NePasContacter] [bit] NOT NULL,
	[CV] [bit] NULL,
	[CreationDate] [date] NOT NULL,
	[CreationUser] [varchar](128) NOT NULL,
	[ContactId] [int] NOT NULL,
	[TrainerCompanyId] [int] NOT NULL,
 CONSTRAINT [pk$Formateur] PRIMARY KEY CLUSTERED 
(
	[TrainerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_Formateur_ContactId] UNIQUE NONCLUSTERED 
(
	[ContactId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Trainer].[TrainerCompany]    Script Date: 02/09/2025 16:36:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Trainer].[TrainerCompany](
	[TrainerCompanyId] [int] IDENTITY(1,1) NOT NULL,
	[Nom] [varchar](50) NOT NULL,
	[AdresseFormateurId] [int] NOT NULL,
	[TelephoneSociete] [varchar](30) NULL,
	[TelephoneAdministratif] [varchar](30) NULL,
	[Fax] [varchar](30) NULL,
	[Contact] [varchar](150) NULL,
	[Commentaires] [varchar](1000) NULL,
	[Statut] [char](1) NULL,
	[EmailContact] [varchar](150) NULL,
 CONSTRAINT [pk$SocieteFormateur] PRIMARY KEY CLUSTERED 
(
	[TrainerCompanyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Nom] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Contact].[Address] ADD  DEFAULT ((1)) FOR [Valid]
GO
ALTER TABLE [Contact].[Company] ADD  DEFAULT ((0)) FOR [TypeRelance]
GO
ALTER TABLE [Contact].[Company] ADD  DEFAULT ((0)) FOR [FacturationAvantInscription]
GO
ALTER TABLE [Contact].[Company] ADD  DEFAULT ((0)) FOR [Remise]
GO
ALTER TABLE [Contact].[CompanyAddress] ADD  DEFAULT ((0)) FOR [TypeAdresse]
GO
ALTER TABLE [Contact].[Manager] ADD  DEFAULT ((1)) FOR [EnvoisParEmail]
GO
ALTER TABLE [Contact].[Manager] ADD  DEFAULT ((0)) FOR [EnvoisParCourrier]
GO
ALTER TABLE [Course].[Course] ADD  CONSTRAINT [DF__Stage__DateCreat__604834B3]  DEFAULT (getdate()) FOR [CreationDate]
GO
ALTER TABLE [Course].[Course] ADD  CONSTRAINT [DF__Stage__Duree__613C58EC]  DEFAULT ((5)) FOR [Duration]
GO
ALTER TABLE [Course].[Course] ADD  CONSTRAINT [DF__Stage__NombreSta__62307D25]  DEFAULT ((0)) FOR [MaxNbParticipants]
GO
ALTER TABLE [Course].[Session] ADD  CONSTRAINT [DF__SessionSt__DateC__468862B0]  DEFAULT (getdate()) FOR [CreationDate]
GO
ALTER TABLE [Course].[Session] ADD  CONSTRAINT [DF__SessionSt__Intra__477C86E9]  DEFAULT ((0)) FOR [IntraEntrerprise]
GO
ALTER TABLE [Enrollment].[AdressOnEnrollment] ADD  DEFAULT ((0)) FOR [Invoicing]
GO
ALTER TABLE [Enrollment].[AdressOnEnrollment] ADD  DEFAULT ((0)) FOR [Convention]
GO
ALTER TABLE [Enrollment].[AdressOnEnrollment] ADD  DEFAULT ((0)) FOR [ConventionLetter]
GO
ALTER TABLE [Enrollment].[AdressOnEnrollment] ADD  DEFAULT ((0)) FOR [Certificate]
GO
ALTER TABLE [Enrollment].[AdressOnEnrollment] ADD  DEFAULT ((0)) FOR [Copy]
GO
ALTER TABLE [Enrollment].[Appraisal] ADD  DEFAULT ((0)) FOR [TypeSaisie]
GO
ALTER TABLE [Enrollment].[Appraisal] ADD  DEFAULT ((0)) FOR [MiseAJour]
GO
ALTER TABLE [Enrollment].[Enrollment] ADD  CONSTRAINT [DF_Inscription_Remise]  DEFAULT ((0)) FOR [Remise]
GO
ALTER TABLE [Enrollment].[Enrollment] ADD  CONSTRAINT [DF__Inscripti__NonPr__2AE0483B]  DEFAULT ((0)) FOR [Present]
GO
ALTER TABLE [Enrollment].[Enrollment] ADD  CONSTRAINT [DF__Inscripti__DateC__2BD46C74]  DEFAULT (getdate()) FOR [DateCreation]
GO
ALTER TABLE [Enrollment].[Enrollment] ADD  CONSTRAINT [DF_Inscription_ConventionEnvoyee]  DEFAULT ((0)) FOR [ConventionEnvoyee]
GO
ALTER TABLE [Enrollment].[Enrollment] ADD  CONSTRAINT [DF_Inscription_ConvocationEnvoyee]  DEFAULT ((0)) FOR [ConvocationEnvoyee]
GO
ALTER TABLE [Enrollment].[Enrollment] ADD  CONSTRAINT [DF_Inscription_ListeAttente]  DEFAULT ((0)) FOR [ListeAttente]
GO
ALTER TABLE [Enrollment].[Invoice] ADD  CONSTRAINT [DF__Facture__Relance__1F6E958F]  DEFAULT ((0)) FOR [Relance]
GO
ALTER TABLE [Reference].[TrainingPlace] ADD  CONSTRAINT [DF__LieuForma__EstCe__3651FAE7]  DEFAULT ((0)) FOR [EstCentrePacha]
GO
ALTER TABLE [Reference].[TrainingRoom] ADD  CONSTRAINT [DF__SalleForm__Place__40CF895A]  DEFAULT ((12)) FOR [Places]
GO
ALTER TABLE [Trainer].[Trainer] ADD  CONSTRAINT [DF__Formateur__Creat__1F398B65]  DEFAULT (getdate()) FOR [CreationDate]
GO
ALTER TABLE [Trainer].[Trainer] ADD  CONSTRAINT [DF__Formateur__Creat__202DAF9E]  DEFAULT (suser_sname()) FOR [CreationUser]
GO
ALTER TABLE [Trainer].[Trainer] ADD  DEFAULT ((4)) FOR [TrainerCompanyId]
GO
ALTER TABLE [Contact].[Address]  WITH CHECK ADD  CONSTRAINT [FK_ADRESSE_REFERENCE_VILLE] FOREIGN KEY([CityId])
REFERENCES [Reference].[City] ([CityId])
GO
ALTER TABLE [Contact].[Address] CHECK CONSTRAINT [FK_ADRESSE_REFERENCE_VILLE]
GO
ALTER TABLE [Contact].[CompanyAddress]  WITH CHECK ADD  CONSTRAINT [FK_SOCIETEA_REFERENCE_ADRESSE] FOREIGN KEY([AdressId])
REFERENCES [Contact].[Address] ([AddressId])
GO
ALTER TABLE [Contact].[CompanyAddress] CHECK CONSTRAINT [FK_SOCIETEA_REFERENCE_ADRESSE]
GO
ALTER TABLE [Contact].[CompanyAddress]  WITH CHECK ADD  CONSTRAINT [FK_SOCIETEA_REFERENCE_SOCIETE] FOREIGN KEY([CompanyId])
REFERENCES [Contact].[Company] ([CompanyId])
GO
ALTER TABLE [Contact].[CompanyAddress] CHECK CONSTRAINT [FK_SOCIETEA_REFERENCE_SOCIETE]
GO
ALTER TABLE [Contact].[Contact]  WITH CHECK ADD  CONSTRAINT [fk_Contact_EstDans_Societe] FOREIGN KEY([CompanyId])
REFERENCES [Contact].[Company] ([CompanyId])
GO
ALTER TABLE [Contact].[Contact] CHECK CONSTRAINT [fk_Contact_EstDans_Societe]
GO
ALTER TABLE [Contact].[Manager]  WITH CHECK ADD  CONSTRAINT [FK_DECIDEUR_REFERENCE_CONTACT] FOREIGN KEY([ContactId])
REFERENCES [Contact].[Contact] ([ContactId])
GO
ALTER TABLE [Contact].[Manager] CHECK CONSTRAINT [FK_DECIDEUR_REFERENCE_CONTACT]
GO
ALTER TABLE [Course].[CourseLanguage]  WITH CHECK ADD  CONSTRAINT [fk_StageLangue_AUne_Langue] FOREIGN KEY([LangueCd])
REFERENCES [Course].[Language] ([LangueCd])
GO
ALTER TABLE [Course].[CourseLanguage] CHECK CONSTRAINT [fk_StageLangue_AUne_Langue]
GO
ALTER TABLE [Course].[CourseLanguage]  WITH CHECK ADD  CONSTRAINT [fk_StageLangue_EstSurUn_Stage] FOREIGN KEY([StageId])
REFERENCES [Course].[Course] ([CourseId])
GO
ALTER TABLE [Course].[CourseLanguage] CHECK CONSTRAINT [fk_StageLangue_EstSurUn_Stage]
GO
ALTER TABLE [Course].[Session]  WITH CHECK ADD  CONSTRAINT [fk_Session_has_Formateur] FOREIGN KEY([TrainerId])
REFERENCES [Trainer].[Trainer] ([TrainerId])
GO
ALTER TABLE [Course].[Session] CHECK CONSTRAINT [fk_Session_has_Formateur]
GO
ALTER TABLE [Course].[Session]  WITH CHECK ADD  CONSTRAINT [FK_SESSIONS_REFERENCE_LIEUFORM] FOREIGN KEY([RoomId])
REFERENCES [Reference].[TrainingRoom] ([SalleFormationId])
GO
ALTER TABLE [Course].[Session] CHECK CONSTRAINT [FK_SESSIONS_REFERENCE_LIEUFORM]
GO
ALTER TABLE [Course].[Session]  WITH CHECK ADD  CONSTRAINT [fk_SessionStage_AUn_StageLangue] FOREIGN KEY([CourseId], [LanguageCd])
REFERENCES [Course].[CourseLanguage] ([StageId], [LangueCd])
GO
ALTER TABLE [Course].[Session] CHECK CONSTRAINT [fk_SessionStage_AUn_StageLangue]
GO
ALTER TABLE [Enrollment].[AdressOnEnrollment]  WITH CHECK ADD  CONSTRAINT [FK_ADRESSES_ADRESSESU_ADRESSE] FOREIGN KEY([AdresseId])
REFERENCES [Contact].[Address] ([AddressId])
GO
ALTER TABLE [Enrollment].[AdressOnEnrollment] CHECK CONSTRAINT [FK_ADRESSES_ADRESSESU_ADRESSE]
GO
ALTER TABLE [Enrollment].[AdressOnEnrollment]  WITH CHECK ADD  CONSTRAINT [FK_AdresseSurInscription_References_Inscription] FOREIGN KEY([InscriptionId])
REFERENCES [Enrollment].[Enrollment] ([InscriptionId])
GO
ALTER TABLE [Enrollment].[AdressOnEnrollment] CHECK CONSTRAINT [FK_AdresseSurInscription_References_Inscription]
GO
ALTER TABLE [Enrollment].[Appraisal]  WITH CHECK ADD  CONSTRAINT [FK_EVALUATI_REFERENCE_CONTACT] FOREIGN KEY([ContactId])
REFERENCES [Contact].[Contact] ([ContactId])
GO
ALTER TABLE [Enrollment].[Appraisal] CHECK CONSTRAINT [FK_EVALUATI_REFERENCE_CONTACT]
GO
ALTER TABLE [Enrollment].[Enrollment]  WITH CHECK ADD  CONSTRAINT [FK_INSCRIPT_INSCRIPTI_DECIDEUR] FOREIGN KEY([DecideurInscriptionId])
REFERENCES [Contact].[Manager] ([DecideurId])
GO
ALTER TABLE [Enrollment].[Enrollment] CHECK CONSTRAINT [FK_INSCRIPT_INSCRIPTI_DECIDEUR]
GO
ALTER TABLE [Enrollment].[Enrollment]  WITH CHECK ADD  CONSTRAINT [FK_INSCRIPT_REFERENCE_CONTACT] FOREIGN KEY([ContactId])
REFERENCES [Contact].[Contact] ([ContactId])
GO
ALTER TABLE [Enrollment].[Enrollment] CHECK CONSTRAINT [FK_INSCRIPT_REFERENCE_CONTACT]
GO
ALTER TABLE [Enrollment].[EnrollmentInvoice]  WITH CHECK ADD  CONSTRAINT [FK_INSCRIPT_FACTUREIN_INSCRIPT] FOREIGN KEY([InscriptionId])
REFERENCES [Enrollment].[Enrollment] ([InscriptionId])
GO
ALTER TABLE [Enrollment].[EnrollmentInvoice] CHECK CONSTRAINT [FK_INSCRIPT_FACTUREIN_INSCRIPT]
GO
ALTER TABLE [Enrollment].[EnrollmentInvoice]  WITH CHECK ADD  CONSTRAINT [FK_INSCRIPT_INSCRIPTI_FACTURE] FOREIGN KEY([FactureCd])
REFERENCES [Enrollment].[Invoice] ([InvoiceId])
GO
ALTER TABLE [Enrollment].[EnrollmentInvoice] CHECK CONSTRAINT [FK_INSCRIPT_INSCRIPTI_FACTURE]
GO
ALTER TABLE [Enrollment].[InvoiceFollowUp]  WITH CHECK ADD  CONSTRAINT [FK_SUIVIFAC_PAIEMENTF_FACTURE] FOREIGN KEY([FactureCd])
REFERENCES [Enrollment].[Invoice] ([InvoiceId])
GO
ALTER TABLE [Enrollment].[InvoiceFollowUp] CHECK CONSTRAINT [FK_SUIVIFAC_PAIEMENTF_FACTURE]
GO
ALTER TABLE [Reference].[Region]  WITH CHECK ADD  CONSTRAINT [FK_REGION_REFERENCE_PAYS] FOREIGN KEY([PaysCD])
REFERENCES [Reference].[Country] ([PaysCD])
GO
ALTER TABLE [Reference].[Region] CHECK CONSTRAINT [FK_REGION_REFERENCE_PAYS]
GO
ALTER TABLE [Reference].[TrainingRoom]  WITH CHECK ADD  CONSTRAINT [FK_SALLEFOR_REFERENCE_LIEUFORM] FOREIGN KEY([LieuFormationId])
REFERENCES [Reference].[TrainingPlace] ([LieuFormationId])
GO
ALTER TABLE [Reference].[TrainingRoom] CHECK CONSTRAINT [FK_SALLEFOR_REFERENCE_LIEUFORM]
GO
ALTER TABLE [Trainer].[Rate]  WITH CHECK ADD  CONSTRAINT [fk$TarifFormateur$Reference$Formateur] FOREIGN KEY([FormateurId])
REFERENCES [Trainer].[Trainer] ([TrainerId])
GO
ALTER TABLE [Trainer].[Rate] CHECK CONSTRAINT [fk$TarifFormateur$Reference$Formateur]
GO
ALTER TABLE [Trainer].[SpecialRate]  WITH CHECK ADD  CONSTRAINT [fk$TarifSpecial$Reference$TarifFormateur] FOREIGN KEY([TarifFormateurId])
REFERENCES [Trainer].[Rate] ([TarifFormateurId])
GO
ALTER TABLE [Trainer].[SpecialRate] CHECK CONSTRAINT [fk$TarifSpecial$Reference$TarifFormateur]
GO
ALTER TABLE [Trainer].[Trainer]  WITH CHECK ADD  CONSTRAINT [fk$Formateur$has$SocieteFormateur] FOREIGN KEY([TrainerCompanyId])
REFERENCES [Trainer].[TrainerCompany] ([TrainerCompanyId])
GO
ALTER TABLE [Trainer].[Trainer] CHECK CONSTRAINT [fk$Formateur$has$SocieteFormateur]
GO
ALTER TABLE [Trainer].[Trainer]  WITH CHECK ADD  CONSTRAINT [fk_Formateur_est_ContactId] FOREIGN KEY([ContactId])
REFERENCES [Contact].[Contact] ([ContactId])
GO
ALTER TABLE [Trainer].[Trainer] CHECK CONSTRAINT [fk_Formateur_est_ContactId]
GO
ALTER TABLE [Trainer].[TrainerCompany]  WITH CHECK ADD  CONSTRAINT [fk$SocieteFormateur$a$AdresseFormateur] FOREIGN KEY([AdresseFormateurId])
REFERENCES [Contact].[Address] ([AddressId])
GO
ALTER TABLE [Trainer].[TrainerCompany] CHECK CONSTRAINT [fk$SocieteFormateur$a$AdresseFormateur]
GO
ALTER TABLE [Contact].[CompanyAddress]  WITH CHECK ADD  CONSTRAINT [CHK_SocieteAdresse_typeAdresse] CHECK  (([TypeAdresse]='C' OR [TypeAdresse]='F' OR [TypeAdresse]='P'))
GO
ALTER TABLE [Contact].[CompanyAddress] CHECK CONSTRAINT [CHK_SocieteAdresse_typeAdresse]
GO
ALTER TABLE [Course].[Course]  WITH CHECK ADD  CONSTRAINT [chk_Course_Category] CHECK  (([Category]='SE' OR [Category]='PC'))
GO
ALTER TABLE [Course].[Course] CHECK CONSTRAINT [chk_Course_Category]
GO
ALTER TABLE [Reference].[TrainingRoom]  WITH CHECK ADD  CONSTRAINT [CK_salles_Couloir] CHECK  (([Couloir]='B' OR [Couloir]='A' OR [Couloir] IS NULL))
GO
ALTER TABLE [Reference].[TrainingRoom] CHECK CONSTRAINT [CK_salles_Couloir]
GO
ALTER TABLE [Reference].[TrainingRoom]  WITH CHECK ADD  CONSTRAINT [CK_salles_Direction] CHECK  (([Direction]='G' OR [Direction]='D' OR [Direction] IS NULL))
GO
ALTER TABLE [Reference].[TrainingRoom] CHECK CONSTRAINT [CK_salles_Direction]
GO
ALTER TABLE [Trainer].[TrainerCompany]  WITH CHECK ADD CHECK  ((len([Nom])>(0)))
GO
